#
# Copyright (C) 2016+ AzerothCore <www.azerothcore.org>, released under GNU AGPL v3 license: https://github.com/azerothcore/azerothcore-wotlk/blob/master/LICENSE-AGPL3
#

[worldserver]

########################################
# mod-playerbot-bettersetup module
########################################
#
# Unified spec command for mod-playerbots.
#
#    PlayerbotBetterSetup.Spec.Enable
#        Description: Enables the unified spec command handling.
#        Default:     0 - Disabled
#                     1 - Enabled
#
#    PlayerbotBetterSetup.Spec.RequireMasterControl
#        Description: If enabled, command sender must be the bot master (except GMs).
#        Default:     0 - Disabled
#                     1 - Enabled
#
#    PlayerbotBetterSetup.Spec.ShowSpecListOnEmpty
#        Description: If enabled, 'spec' with no args returns valid options.
#        Default:     0 - Disabled
#                     1 - Enabled
#
#    PlayerbotBetterSetup.Spec.AutoGearRndBots
#        Description: Auto-gear rnd/addclass bots after 'spec'.
#                     'gear' argument is NOT required for rnd/addclass bots.
#        Default:     0 - Disabled
#                     1 - Enabled
#
#    PlayerbotBetterSetup.Spec.AutoGearAltBots
#        Description: Allows altbot autogear, but only when command includes 'gear'.
#        Default:     0 - Disabled
#                     1 - Enabled
#
#    PlayerbotBetterSetup.Spec.ExpansionSource
#        Description: Expansion source used for talent/glyph limits when
#                     AiPlayerbot.LimitTalentsExpansion = 1.
#        Allowed:     level, progression, auto
#                     level       -> use level thresholds
#                     progression -> use character_settings row for source
#                                    'mod-individual-progression'
#                     auto        -> progression if present, else level
#        Default:     auto
#
#    PlayerbotBetterSetup.Spec.GearModeRndBots
#    PlayerbotBetterSetup.Spec.GearModeAltBots
#        Description: Gear mode after spec.
#        Allowed:     top_for_level, master_ilvl_ratio
#        Default:     master_ilvl_ratio
#
#    PlayerbotBetterSetup.Spec.GearMasterIlvlRatioRndBots
#    PlayerbotBetterSetup.Spec.GearMasterIlvlRatioAltBots
#        Description: Ratio applied to commanding player's average item level
#                     when GearMode* = master_ilvl_ratio.
#                     If master ilvl context is invalid, falls back to top_for_level.
#        Default:     1.0
#
#    PlayerbotBetterSetup.Spec.GearValidationLowerRatio
#    PlayerbotBetterSetup.Spec.GearValidationUpperRatio
#        Description: Accepted range for equipped item levels around target ilvl.
#                     itemLevel must be within [target*lower, target*upper].
#        Default:     0.85 / 1.15
#
#    PlayerbotBetterSetup.Spec.GearRetryCount
#        Description: Number of full regear attempts in ratio mode before settling.
#        Default:     4
#
#    PlayerbotBetterSetup.Spec.GearQualityCapRatioMode
#    PlayerbotBetterSetup.Spec.GearQualityCapTopForLevel
#        Description: Item quality ceiling used by gearing passes.
#                     1 = normal, 2 = uncommon, 3 = rare, 4 = epic, 5 = legendary
#        Default:     4 / 5
#
#    PlayerbotBetterSetup.LoginDiagnostics.Enable
#        Description: Show module status/target-ilvl diagnostics in chat on login.
#        Default:     0 - Disabled
#                     1 - Enabled
#
#    PlayerbotBetterSetup.GearSelf.MinSecurityLevel
#        Description: Minimum account level required to use `gearself`.
#                     0 = player, 1 = moderator, 2 = gamemaster, 3 = administrator
#        Default:     2
#

PlayerbotBetterSetup.Spec.Enable = 1
PlayerbotBetterSetup.Spec.RequireMasterControl = 1
PlayerbotBetterSetup.Spec.ShowSpecListOnEmpty = 1

PlayerbotBetterSetup.Spec.AutoGearRndBots = 1
PlayerbotBetterSetup.Spec.AutoGearAltBots = 0

PlayerbotBetterSetup.Spec.ExpansionSource = auto

PlayerbotBetterSetup.Spec.GearModeRndBots = master_ilvl_ratio
PlayerbotBetterSetup.Spec.GearModeAltBots = master_ilvl_ratio

PlayerbotBetterSetup.Spec.GearMasterIlvlRatioRndBots = 1.0
PlayerbotBetterSetup.Spec.GearMasterIlvlRatioAltBots = 1.0

PlayerbotBetterSetup.Spec.GearValidationLowerRatio = 0.85
PlayerbotBetterSetup.Spec.GearValidationUpperRatio = 1.15
PlayerbotBetterSetup.Spec.GearRetryCount = 4

PlayerbotBetterSetup.Spec.GearQualityCapRatioMode = 4
PlayerbotBetterSetup.Spec.GearQualityCapTopForLevel = 5

PlayerbotBetterSetup.LoginDiagnostics.Enable = 1
PlayerbotBetterSetup.GearSelf.MinSecurityLevel = 2
